自己試讀CSV檔並合併

In [17]:
import pandas as pd

df = pd.read_csv('教育部國民及學前教育署102年度補助明細表.csv')

df.head()

,執行日期,科目名稱,摘要,受款單位,金額
0,1020104.0,國民及學前教育行政及督導,新北市政府教育局承接國私立學校102年1月份所需薪資,新北市政府教育局,"162,989,000"
1,1020111.0,國民及學前教育行政及督導,新北市政府教育局承接國私立學校102年1月份經常門所需經費,新北市政府教育局,"446,707,000"
2,1020111.0,國民及學前教育行政及督導,新北市政府教育局承接國私立學校102年1月份資本門經費,新北市政府教育局,"12,000,000"
3,1020131.0,國民及學前教育行政及督導,補助新北市立泰山高中、新店高中、中和高中和新北高工4校資源班開班經費,新北市政府教育局,"550,000"
4,1020131.0,國民及學前教育行政及督導,102年度教育部補助直轄市縣（市）政府增置國小教師員額實施計畫第一期經費,高雄市政府教育局,"62,833,000"

想找補助的計畫及補助多少金額

In [19]:
temp = df[['科目名稱',' 金額 ']]
temp

                  科目名稱          金額
0         國民及學前教育行政及督導  162,989,000
1         國民及學前教育行政及督導  446,707,000
2         國民及學前教育行政及督導   12,000,000
3         國民及學前教育行政及督導      550,000
4         國民及學前教育行政及督導   62,833,000
...                ...          ...
11132  國立高級中等學校教學與訓輔輔助   12,426,000
11133  國立高級中等學校教學與訓輔輔助   13,072,000
11134  國立高級中等學校教學與訓輔輔助   14,597,000
11135  國立高級中等學校教學與訓輔輔助   15,305,000
11136  國立高級中等學校教學與訓輔輔助   18,932,000

[11137 rows x 2 columns]

根據補助單位將金額整合加總，且加上年份

In [20]:
Type = temp.groupby(['科目名稱'])[' 金額 '].sum().reset_index()
Type['year'] = 2013
Type

              科目名稱                                                金額   year
0     國民及學前教育行政及督導  162,989,000446,707,00012,000,000550,00062,833,...  2013
1  國立高級中等學校教學與訓輔輔助  50,000,00031,340,00036,561,0001,800,0003,800,0...  2013

In [ ]:
重複之前的步驟處理2014的資料

In [21]:
df2014 = pd.read_csv('教育部國民及學前教育署103年度補助明細表.csv')
new = df2014[['科目名稱',' 金額 ']].groupby(['科目名稱'])[' 金額 '].sum().reset_index()
new['year'] = 2014
new

              科目名稱                                                金額   year
0     國民及學前教育行政及督導  8,920,00013,060,00011,620,00014,300,00022,219,...  2014
1  國立高級中等學校教學與訓輔輔助  7,000,0008,693,0008,800,0009,000,0009,433,0009...  2014

合併兩表

In [22]:
frames = [Type, new]
result = pd.concat(frames)
result

              科目名稱                                                金額   year
0     國民及學前教育行政及督導  162,989,000446,707,00012,000,000550,00062,833,...  2013
1  國立高級中等學校教學與訓輔輔助  50,000,00031,340,00036,561,0001,800,0003,800,0...  2013
0     國民及學前教育行政及督導  8,920,00013,060,00011,620,00014,300,00022,219,...  2014
1  國立高級中等學校教學與訓輔輔助  7,000,0008,693,0008,800,0009,000,0009,433,0009...  2014